*{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}




.container{
    border: 10px solid;
    border-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}