.FlexBox-Body{
   width: 100%;
   height: 100%;
   align-items: center;
}

.FlexBox-Introduction{
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    margin: 3px;
}

.FlexBox-Lang{
    min-height: 100px;
    background-color: #dddddd;
    margin: 3px;
    align-items: center;
    text-align: center;
}

.FlexBox-Food{
    min-height: 200px;
    background-color: #dddddd;
    margin: 3px;
    text-align: center;
}

.FlexBox-Sites{
    min-height: 300px;
    background-color: #dddddd;
    margin: 3px;
    text-align: center;
}

ul {
    list-style-type: none;
}


img{
    width: 50px;
    height: 50px;
}
